body {
    padding-bottom: 0;
    margin-bottom: 0;
}

.pagination {
    margin-bottom: 9vh;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.container {
    padding-bottom: 0;
    margin-bottom: 3vh;
    height: fit-content;
}

.blog-post-description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5ch;
}
