body {
    padding-bottom: 0;
    margin-bottom: 0;
}

.pagination {
    margin-bottom: 9vh;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.container {
    padding-bottom: 0;
    margin-bottom: 3vh;
    height: fit-content;
}

.blog-post-description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5ch;
}


.right {
    margin-left: auto;
}


.comment {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.comment-item {
    margin-top: 2ch;
    padding-top: 1ch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    border-top: 2px solid var(--border-color);
}

.CommentContent {
}

.CommentDate {
    margin-left: auto;
    margin-right: 2ch;
}
