@model List<GoKartUnite.Models.Groups.GroupMessage>

<table class="table table-sm table-striped table-bordered align-middle">
    <thead class="table-light">
        <tr>
            <th>Message</th>
            <th>Date Posted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr class="text-white">
                <td>@message.MessageContent</td>
                <td>@message.DateTimePosted.ToString("g")</td> 
            </tr>
        }
    </tbody>
</table>
