@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}
@using GoKartUnite.ViewModel
@using GoKartUnite.Models


@model IEnumerable<KarterView>
<div class="table-section">

    @{
        SortKartersBy nameSort = ViewBag.CurrentSort == SortKartersBy.Alphabetically ? SortKartersBy.ReverseAlphabetically : SortKartersBy.Alphabetically;
        SortKartersBy yearsSort = ViewBag.CurrentSort == SortKartersBy.YearsExperience ? SortKartersBy.ReverseYearsExperience : SortKartersBy.YearsExperience;
    }

<div class="table-container">
    <table >
        <thead>
            <th scope="col">Name
                <button type="button" id="NameSortButton" data-sortValue="@(nameSort)">
                    Name
                </button> 
            </th>
            <th scope="col">
                <button type="button" id="YearsSortButton" data-sortValue="@(yearsSort)">
                    YoE
                </button>
            </th>
            <th scope="col">Local Track</th>
            @if(User.IsInRole("Admin")){
                <th scope="col">Options</th>
                <th scope="col"></th>
            }
        </thead>
        <tbody id="ListKarterPartialViews">
            
        </tbody>
    </table>

</div>
@section Scripts {
    <script src="~/js/KarterHome/KarterDetailsByTrack.js" asp-append-version="true"></script>
}
