
@{
    ViewData["Title"] = "Index";
}

<h1>GoKartersHome</h1>

<form asp-action="Index" method="get">
    <p>
        <label>Title: <input type="text" name="kartersName" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<form asp-action="SendFriendRequest" method="post">
    <label>Friends Name: <input type="text" name="friendsName" /></label>
    <input type="submit" value="Filter" />
    @Html.ValidationSummary(true, "", new { @class = "text-danger font-weight-bold" })  
</form>