@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Details";
}
@using GoKartUnite.ViewModel

@model IEnumerable<TrackView>

<div class="container">
	<H1>Blog</H1>
	@if(Model.Count() <= 0){
		<h2>No Tracks Found...</h2>
	} else {
		@foreach (var track in Model)
		{
			@await Html.PartialAsync("Track", track)
			;
		}
	}

	<div id="AddTrackDiv" class="border-top pt-4 mb-5 pb-5">
		<h2 class="text-center mb-4">Can't find your track? Submit it below for verification</h2>

		<div class="d-flex justify-content-center align-items-center gap-3">
			<input id="googleSearchInput" type="text" class="form-control w-50" placeholder="Enter track name" />
			<button id="googleSearchSubmit" type="submit" class="btn btn-primary">
				Search
			</button>
		</div>
		<ul id="placesList" class="list-group">
		</ul>
		<div class="w-100 text-center d-flex justify-content-center align-items-center" id="GroupStatGraphLoading" hidden>
			<div class="spinner-border" role="status">
				<span class="sr-only"></span>
			</div>
		</div>
		<div class="alert alert-success" id="Success" role="alert" hidden>
			Success
		</div>
		<div class="alert alert-info" id="TrackNotFound" role="alert" hidden>
			Track Not Found
		</div>
		<div class="alert alert-info" id="ServerErr" role="alert" hidden>
			Failed To Submit Track To Server
		</div>
	</div>
</div>

@* Add Track To Database API Request *@

<template id="PlacesReturnedResult">
	<li class="list-group-item d-flex justify-content-between align-items-center pb-2 pt-2 mt-1">
		<div>
			<strong>Title:</strong> <span class="place-title"></span><br>
			<strong>Location:</strong> <span class="place-location"></span>
		</div>
		<button class="btn btn-primary btn-sm ms-2">Select</button>
	</li>
</template>

@* ================================== *@


@section scripts {
	<script src="/js//GooglePlacesAPI/TrackSearchAPI.js"></script>
	<script src="/js/TrackDetails/FollowRequest.js"></script>	

}

