@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<GoKartUnite.ViewModel.BlogPostView>

<div class="text-center">
    <h1 class="display-4">Go Kart Unite</h1>
</div>

<div class="container infiniteScrollDiv">
    @if (User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("~/Views/BlogHome/_Posts.cshtml", Model)
    }
</div>

@await Html.PartialAsync("~/Views/BlogHome/_Modal.cshtml", Model)

@section Scripts {
    <script src="~/js/Blog/UpvoteBlogPost.js" asp-append-version="true"></script>
    <script src="~/js/General/_InfiniteScroll.js" asp-append-version="true"></script>
    @await Html.PartialAsync("~/Views/BlogHome/_Scripts.cshtml")

}
