@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GoKartUnite.ViewModel.BlogPostView

<form method="post" action="CreateAdminPost">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @Html.AntiForgeryToken()
    <label asp-for="Title">Post Title</label>
    <input asp-for="Title" type="text" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label asp-for="Description">Post Description</label>
    <input asp-for="Description" type="text"  />
    <span asp-validation-for="Description" class="text-danger"></span>

    <br />
    <label asp-for="ReleaseDateTime">Date to be posted</label>
    <input asp-for="ReleaseDateTime" type="datetime-local" />
    <span asp-validation-for="ReleaseDateTime" class="text-danger"></span>

    <input type="submit" />
</form>