@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using GoKartUnite.ViewModel;

@model IEnumerable<BlogPostView>
<link rel="stylesheet" href="~/css/Blog.css" asp-append-version="true" />

<div class="container">
    <H1>Blog</H1>
    @foreach (var post in Model)
    {
        @await Html.PartialAsync("Blog", post);
    }
</div>
<ul class="pagination">
    <li class="page-item @(ViewBag.Page == 1 ? "disabled" : "")">
        <a class="page-link" href="?page=@(ViewBag.Page - 1)">Previous</a>
        <a class="page-link" href="?page=1"> Start </a>
    </li>

    @{
        int leftCounter = Math.Max(ViewBag.Page - 2, 1);
        int rightCounter = Math.Min(ViewBag.Page + 2, ViewBag.TotalPages);

    }

    @for (int i = leftCounter; i <= rightCounter; i++)
        {
            <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                <a class="page-link" href="?page=@i">@i</a>
            </li>
        }

        <li class="page-item @(ViewBag.Page == ViewBag.TotalPages ? "disabled" : "")">
            <a class="page-link" href="?page=@(ViewBag.Page + 1)">Next</a>
            <a class="page-link" href="?page=@(ViewBag.TotalPages)"> End </a>

        </li>
    </ul>
    <script src="~/js/UpvoteBlogPost.js" asp-append-version="true"></script>
