@model GoKartUnite.ViewModel.BlogPage
<link rel="stylesheet" href="~/css/Blog.css" asp-append-version="true" />

<div class="container">
    <h1>Blog</h1>
    @await Html.PartialAsync("_Posts", Model.notifiedPosts)
    @await Html.PartialAsync("_Posts", Model.posts)
</div>

@await Html.PartialAsync("_Pagination", new { Page = ViewBag.Page, TotalPages = ViewBag.TotalPages, QueryString = ViewContext.HttpContext.Request.Query })
@await Html.PartialAsync("_Modal")

@section Scripts {
    @await Html.PartialAsync("_Scripts")
    <script src="~/js/UpvoteBlogPost.js" asp-append-version="true"></script>
}
