<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoKartUnite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoKartUnite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="nav_bar navBarDyn navbar navbar-dark navbar-expand fixed-bottom">
            <div class="container-fluid justify-content-around">
                <a data-page="KarterHome" asp-area="" asp-controller="KarterHome" asp-action="Index" class="textEven navbar-brand">
                    <i class="bi bi-house"></i>
                    K
                </a>
                <a data-page="TrackHome" asp-area="" asp-controller="TrackHome" asp-action="Index" class="textEven navbar-brand">
                    T
                </a>
                <a data-page="" asp-area="" asp-controller="Home" asp-action="Index" class="textEven navbar-brand">
                    H
                </a>
                <a data-page="BlogHome" asp-area="" asp-controller="BlogHome" asp-action="Index" class="textEven navbar-brand">
                    B<div id="notifCount">0</div>
                </a>
                @* <a data-page="Home" asp-area="" asp-controller="Home" asp-action="Index" class="textEven navbar-brand" > *@
                @*     N *@
                @* </a> *@
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/NotifBar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script>
    $(document).ready(function () {
        var currentPath = window.location.pathname.toLowerCase();
                console.log(currentPath);

        $('a[data-page]').each(function () {
            var pageValue = $(this).data('page').toLowerCase();
            if (currentPath == "/" + pageValue) {
                $(this).addClass('activeColor'); 
            } else {
                $(this).removeClass('activeColor'); 
            }
        });
    });
</script>
</body>
</html>
